{{ if ( $session{'twitter_name'} ) { }}

  <h1>Logged in</h1>
  <p>Signed is as '${session{'twitter_name'}}'</p>
  <pre>{{
    use Data::Dumper::Concise;
    $RENDER .= Dumper $request->session;
  }}</pre>
  
  <form method='post' action='/logout'>
    <button>Logout</button>
  </form>

  <hr>

  <ul>
    {{ foreach my $action ( @actions ) { }}
      <li>
        <form method='post' action='/action/${action->{"_key"}}'>
          <button>${action->{'button'}}</button>
        </form>
      </li>
    {{ } }}
  </ul>

  <form method='post' action='/tweet'>
    <input type='text' name='tweet'>
    <button>Tweet</button>
  </form>

  <hr>

{{ } else { }}

  <h1>Log in</h1>

  <form method='post' action='/login'>
    <button>
      <img src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png'
           width='151' height='24' alt='Sign in with Twitter'>
    </button>
  </form>
  
{{ } }}
